@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 95%;
  margin: 0 auto;
}

.search-input {
  @apply font-normal h-12 px-4 border border-gray-300 rounded-l-md focus:outline-none focus:shadow-inner;
}

.search-button {
  @apply h-12 px-4 bg-[#095723] text-white rounded-r-md uppercase text-xs tracking-wide border-0;
}

.cart_quantity {
  width: auto;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -8px;
  left: 18px;
  background-color: #095723;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  line-height: 0.8;
}

.nav{
    box-shadow: 0 7px 20px 0px #00000012;
}

.my-drawer{
  width: 30% !important;
  box-shadow: 0 10px 25px rgba(60,72,88,.15) !important;
  
}
@media (max-width: 768px) {
  .my-drawer {
    width: 100% !important;
  }
  .custom-scroll {
    max-height: calc(80vh - 8rem) !important;
  }
}


.custom-scroll {
  max-height: calc(80vh - 4rem);
}



.rdw-editor-wrapper{
  border:1px solid #e5e7eb !important;
  border-radius: 5px;
}

.css-dev-only-do-not-override-3rel02.ant-btn-primary{
  background: #059669 !important;
}


.shadow-deep{
  box-shadow: 0 4px 30px 8px rgba(60,72,88,.15)!important;
}