@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 95%;
  margin: 0 auto;
}

.search-input {
  @apply font-normal h-12 px-4 border border-gray-300 rounded-l-md focus:outline-none focus:shadow-inner;
}

.search-button {
  @apply h-12 px-4 bg-[#095723] text-white rounded-r-md uppercase text-xs tracking-wide border-0;
}

.cart_quantity {
  width: auto;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -8px;
  left: 18px;
  background-color: #095723;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  line-height: 0.8;
}

.nav{
    box-shadow: 0 7px 20px 0px #00000012;
}